*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    font-family: 'ABeeZee', sans-serif;
    
    background:linear-gradient(30deg,#EECFBA,#C5DDE8);
    background-repeat: no-repeat;
    height: 100vh;
    
}

img{
    width: 100%;
}
